<% include ../partials/header.ejs %>
<style>
   @media(min-width: 40em) {
        #hide {
             display:none;
             visibility:hidden; 
}
</style>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
<% if(loggedUser){ %>
   <% if(!loggedUser.isAdmin){ %>
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div style="text-align:center">
        <h1  style="font-family: 'Pacifico', cursive;padding-bottom:15px">friends <img id="logo" src="../stylesheets/friendship.png" /> Kart</h1>  
          
       </div>
        
      </div>
     </div>
        
      
      <p>
       <form  id="hide" action="/campgrounds" method="GET" class="form-inline" style="margin-bottom:46px">
        <div class="form-group">
         <div id='container'>  
  <div class='cell'><input type='search'name="search" placeholder='Search....' class="form-control"></div>
  <div class='cell'><input type="submit" class='button' value="search"></div>
        </div>
         </div>
       </form>
      </p>
     
    
    <div class="response">
     <div id="responsecontainer">
            <div class="row  text-center display-flex" style="display:flex; flex-wrap:wrap;">
          
               <% camps.forEach(function(camp){ %>
            <% if(camp.sale ){ %>
             <div class="col-lg-3 col-xs-6">
              <a href="/campgrounds/<%= camp._id %>">
                <div class="thumbnail" >
            <img class="img" src="<%= camp.image %>" >
        <div class="caption">
            <h4 style="max-lines:2; text-overflow: ellipsis;"><%= camp.name %></h4>
           <h4><span style="color:red"><%= camp.price %></span> &#x20b9</h4>
        
     
        </div>
      </div>
              </a>
       
       </div>
   
     <% } %>
        
    <% }); %>
          
          
 
        </div>
    
    
    </div>
    </div>
       
    </div>
	   <% }else{ %>
       <div class="container">
       
     <div class="row">
      <div class="col-lg-12">
       <div style="text-align:center">
           <h1  style="font-family: 'Pacifico', cursive;padding-bottom:15px">friends <img id="logo" src="../stylesheets/friendship.png" /> Kart</h1>  
           <a href="/master/users" class="btn btn-success">Current users</a>
        <a href="/master/stats" class="btn btn-warning">Stats</a>
       </div>
        
      </div>
     </div>
        
      
      <p>
       <form  id="hide" action="/campgrounds" method="GET" class="form-inline" style="margin-bottom:46px">
        <div class="form-group">
         <div id='container'>  
  <div class='cell'><input type='search'name="search" placeholder='Search....' class="form-control"></div>
  <div class='cell'><input type="submit" class='button' value="search"></div>
  
        </div>
         </div>
       </form>
      </p>
       
      
        
    <div class="row text-center display-flex " style="display:flex; flex-wrap:wrap;">
       
   
  
       
    <% camps.forEach(function(camp){ %>
      
     <div class="col-lg-3 col-xs-6">
     
        <div class="thumbnail" >
            
                   <img class="img" src="<%= camp.image %>">
        
              
        <div class="caption">
            <h4><%= camp.name %></h4>
            <h4>InSale:<%= camp.sale?"Yes":"No" %></h4>
            <h4>Sold:<%= camp.sold?"Yes":"No" %></h4>
        
        <div style="padding-bottom:10px">
             <div class="text-center">
                 <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST" id="form-delete" style="display:inline">
                    <button class="btn btn-danger" >Delete</button>
                </form>
                 <a href="/campgrounds/<%= camp._id %>" class="btn btn-success " style="padding-bottom:10px">Product Details</a>
            </div>
           
        </div>
        </div>
        </div>
       
    </div>
     
      
    <% }); %>
    
    </div>
        </div>
       </h1>
      <% } %>
     <% } else{ %>
       <div class="container">
    
        <div style="text-align:center">
          <h1  style="font-family: 'Pacifico', cursive;padding-bottom:15px">friends <img id="logo" src="../stylesheets/friendship.png" /> Kart</h1>  
          
       </div>
      
      
    
    <div class="response">
     <div id="responsecontainer">
            <div class="row  text-center display-flex" style="display:flex; flex-wrap:wrap;">
          
               <% camps.forEach(function(camp){ %>
            <% if(camp.sale ){ %>
             <div class="col-lg-3 col-xs-6">
              <a href="/campgrounds/<%= camp._id %>">
                <div class="thumbnail" >
            <img class="img" src="<%= camp.image %>" >
        <div class="caption">
            <h4><%= camp.name %></h4>
             <h4><span style="color:red"><%= camp.price %></span> &#x20b9</h4>
     
        </div>
      </div>
              </a>
       
       </div>
   
     <% } %>
        
    <% }); %>
          
          
 
        </div>
    
    
    </div>
    </div>
       
    </div>
     <% } %>
<script>


 
 function fetch_user()
 {
 
  $.ajax({
   url:"https://friendskart.mybluemix.net/getproducts",
   type:"GET",
   datatype:"json",
   success:function(data){
    $(".response").html(data);
    
   }
  })
 }
 setInterval('fetch_user()', 1000);

  
</script>
     
     
     
     
<% include ../partials/footer.ejs %>