<% include ../partials/header.ejs %>
<link rel="stylesheet" href="../stylesheets/chat.css">
  <script data-main="../js/chat.js" src="../node_modules/require.js"></script>
<style>
   @media(min-width: 40em) {
        #hide {
             display:none;
             visibility:hidden; 
}
}

    #key{
        color:red;
    }
    {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.chiku
{
 position:fixed;
 right:0;
 bottom:0;
 z-index:10;
 margin-right:10px;
 margin-bottom:20px;
}
</style>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
<% if(loggedUser){ %>
   <% if(!loggedUser.isAdmin){ %>
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div style="text-align:center">
        <h1  style="font-family: 'Pacifico', cursive;padding-bottom:15px">friends <img id="logo" src="../stylesheets/friendship.png" /> Kart</h1>  
          
       </div>
        
      </div>
     </div>
        
      
      <p>
       <form  id="hide" action="/campgrounds" method="GET" class="form-inline" style="margin-bottom:46px">
        <div class="form-group">
         <div id='container'>  
  <div class='cell'><input type='search'name="search" placeholder='Search....' class="form-control"></div>
  <div class='cell'><input type="submit" class='button' value="search"></div>
        </div>
         </div>
       </form>
      </p>
      
 <div class="chatbubble">
        <div class="unexpanded">
            <div class="title" style="color:white;text-align:center">Need help?Chat with chiku here!!!</div>
        </div>
        <div class="expanded chat-window">
          <div class="chats">
            
            <ul class="messages clearfix">
               
            </ul>
           
            <div class="input">
              <form class="form-inline" id="messageSupport">
                <div class="form-group">
                  <input type="text" autocomplete="off" class="form-control" id="newMessage" placeholder="Enter Message" required>
                   <input type="hidden" id="name" value=<%= loggedUser.profileName %>>
                </div>
                 <button style="float:right" id="submit" type="submit" class="btn btn-primary ">Send</button>
              </form>
            </div>
          </div>
        </div>
    </div>
    
       
     
    <% if(products && products.length > 1 ) { %>
    <h4><span id="key">Your</span> Recommendations</h4>
     <div class="container" >
    <div class="row  text-center display-flex" >
      <% products.forEach(function(product){ %>
         <% if(product.sale) { %>
           <div class="col-lg-2 col-xs-4" >
              <div class="thumbnail" >
               <a href="/campgrounds/<%= product._id %>">
               
            <img  src="<%= product.image %>"   id="rec">
           
              </a>
              </div>
              
       
       </div>
      
         <% } %>
           
      <% }) %>
    </div>
    <hr>
    <a href="/recommendations" >View More</a>
    <hr>
     </div>
    <% } %>
     
    
    
    <hr>
    
    <div class="response">
     <div id="responsecontainer">
            <div class="row  text-center display-flex" style="display:flex; flex-wrap:wrap;">
          
               <% camps.forEach(function(camp){ %>
            <% if(camp.sale ){ %>
             <div class="col-lg-3 col-xs-6">
              <a href="/campgrounds/<%= camp._id %>">
                <div class="thumbnail" >
            <img class="img" src="<%= camp.image %>" >
        <div class="caption">
            <h4 style="max-lines:2; text-overflow: ellipsis;"><%= camp.name %></h4>
           <h4><span style="color:red"><%= camp.price %></span> &#x20b9</h4>
        
     
        </div>
      </div>
              </a>
       
       </div>
   
     <% } %>
        
    <% }); %>
          
          
 
        </div>
    
    
    </div>
    </div>
       
    </div>
	   <% }else{ %>
       <div class="container">
       
     <div class="row">
      <div class="col-lg-12">
       <div style="text-align:center">
         <h1  style="font-family: 'Pacifico', cursive;"><img src="../stylesheets/friendship.png" /> friendsKart</h1>  
           <a href="/master/users" class="btn btn-success">Current users</a>
        <a href="/master/stats" class="btn btn-warning">Stats</a>
       </div>
        
      </div>
     </div>
        
      
      <p>
       <form  id="hide" action="/campgrounds" method="GET" class="form-inline" style="margin-bottom:46px">
        <div class="form-group">
         <div id='container'>  
  <div class='cell'><input type='search'name="search" placeholder='Search....' class="form-control"></div>
  <div class='cell'><input type="submit" class='button' value="search"></div>
  
        </div>
         </div>
       </form>
      </p>
       
      
        
    <div class="row text-center display-flex " style="display:flex; flex-wrap:wrap;">
       
   
  
       
    <% camps.forEach(function(camp){ %>
      
     <div class="col-lg-3 col-xs-6">
     
        <div class="thumbnail" >
            
                   <img class="img" src="<%= camp.image %>">
        
              
        <div class="caption">
            <h4><%= camp.name %></h4>
            <h4>InSale:<%= camp.sale?"Yes":"No" %></h4>
            <h4>Sold:<%= camp.sold?"Yes":"No" %></h4>
        
        <div style="padding-bottom:10px">
             <div class="text-center">
                 <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST" id="form-delete" style="display:inline">
                    <button class="btn btn-danger" >Delete</button>
                </form>
                 <a href="/campgrounds/<%= camp._id %>" class="btn btn-success " style="padding-bottom:10px">Product Details</a>
            </div>
           
        </div>
        </div>
        </div>
       
    </div>
     
      
    <% }); %>
    
    </div>
        </div>
       </h1>
      <% } %>
     <% } else{ %>
       <div class="container">
    
        <div style="text-align:center">
         <h1  style="font-family: 'Pacifico', cursive;padding-bottom:15px">friends <img id="logo" src="../stylesheets/friendship.png" /> Kart</h1>  
          
       </div>
      
      
    
    <div class="response">
     <div id="responsecontainer">
            <div class="row  text-center display-flex" style="display:flex; flex-wrap:wrap;">
          
               <% camps.forEach(function(camp){ %>
            <% if(camp.sale ){ %>
             <div class="col-lg-3 col-xs-6">
              <a href="/campgrounds/<%= camp._id %>">
                <div class="thumbnail" >
            <img class="img" src="<%= camp.image %>" >
        <div class="caption">
            <h4><%= camp.name %></h4>
             <h4><span style="color:red"><%= camp.price %></span> &#x20b9</h4>
     
        </div>
      </div>
              </a>
       
       </div>
   
     <% } %>
        
    <% }); %>
          
          
 
        </div>
    
    
    </div>
    </div>
       
    </div>
     <% } %>
 <script src="../js/bundle.js"></script>
     <script>


 
 function fetch_user()
 {
  $.ajax({
   url:"https://friendskart-shivu1998.c9users.io/getproducts",
   type:"GET",
   datatype:"json",
   success:function(data){
    $(".response").html(data);
    
   }
  })
 }
 
 setInterval('fetch_user()', 1000);

  
</script>
     
     
     
     
<% include ../partials/footer.ejs %>